<thf-page-edit t-title="Nova Turma">

  <thf-stepper [t-step]="step" [t-steps]="steps" (t-change-step)="changeStep($event)">
  </thf-stepper>

  <thf-widget class="thf-md-12" t-height="380" [t-primary-label]="labelWidget" t-title="Purchase"
    (t-primary-action)="onConfirmStep(step + 1)">

    <ng-container *ngIf="step === 1">
      <form [formGroup]="reactiveForm">
        <div class="thf-row">
          <thf-input class="thf-md-12" formControlName="descricao" t-clean t-icon="thf-icon thf-icon-edit"
            t-label="Descrição">
          </thf-input>
        </div>
        <div class="thf-row">
          <thf-multiselect name="periodoLetivo" formControlName="periodoLetivo" class="thf-lg-12"
            t-label="Período Letivo" [t-options]="options">
          </thf-multiselect>
        </div>

        <div class="thf-row">

          <thf-input name="bla" class="thf-lg-6" formControlName="anoLetivo" t-clean t-label="Ano Letivo">
          </thf-input>

          <thf-number class="thf-lg-6" formControlName="numeroVagas" t-label="Número Vagas" t-clean>
          </thf-number>
        </div>

      </form>
    </ng-container>
    <ng-container *ngIf="step === 2">
      <form [formGroup]="alunosForm">
        <div class="thf-row">
          <thf-number class="thf-lg-6" formControlName="matricula" t-label="Matrícula" t-clean>
          </thf-number>
        </div>
        <div class="thf-row">
          <thf-multiselect name="formaIngresso" formControlName="formaIngresso" class="thf-lg-12"
            t-label="Forma Ingresso" [t-options]="options">
          </thf-multiselect>
        </div>
      </form>
    </ng-container>
  </thf-widget>

</thf-page-edit>